@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container d-flex justify-content-center">
    <div class="border border-custom aviso d-flex flex-column justify-content-center align-items-center">
        <p class="IngresoFallidoText">Error en la configuración</p>
        <br>
        <p class="correo">Por favor desinstale la aplicación e intente nuevamente.</p>
        <br>
        <button class="BotonLogIn" onclick="window.location.href='https://www.tiendanube.com/tu-tienda';">Continuar</button>
    </div>
</div>

@{

}
